{% extends "layout.html" %}

{% load static %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
{% endblock %}



{% block title %}{{ player }}{% endblock %}

<!--content-->
{% block content %}
    <!--    <div>
        <img src="https://labcomp.cl/~sborquez/static/img/stickers/c.png" width="100" height="100">
    </div>
    -->






    <div id="delete_user">
        {% url 'player' as player %}
        <form action="{{ player }}" method="post">
          {% csrf_token %}
          <button type="submit"><i class="far fa-trash-alt"></i> Eliminar cuenta</button><br>
        </form>
    </div>

    <div id="player-container">
        <table>

        </table>
    </div>
    <div id="items-container">
        <table>
            <tr>
                <th>name</th><th>description</th>
                <th>img</th><th>location</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ item.name }} </td><td>{{ item.description }}</td>
                <td><img width="100" height="100"  alt="{{ item.name }}" src="{% static item.icon_path %}"></td>
                <td><a href="location/{{ item.location.name }}">{{ item.location.name }}</a></td>
            </tr>
            {% endfor %}
        </table>

    </div>

    <div id="navBar-container" class="menu-wrapper">
    <nav id="navBar" class="menu">
       <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
       <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
      </label>
       <a href="{% url 'scan' %}" class="menu-item orange"> <i class="fa fa-camera"></i> </a>
       <a href="{% url 'player' %}" class="menu-item green"> <i class="fa fa-id-card"></i> </a>
       <a href="{% url 'map' %}" class="menu-item lightblue"> <i class="fa fa-map-marked"></i> </a>
    </nav>
    </div>

{% endblock %}

<!--js scripts-->
{% block scripts %}
{% endblock %}