{% extends "layout.html" %}

{% load static %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
    <style>
        .background-container {
            height: 100%;
            width: 100%;
            position: fixed;
            background: rgba(255, 255, 255, 0) url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/dark_embroidery.png);
        }

        .loading_background {
            height: 20vh;
            margin-top: 35vh;
            display:block;
            margin-left:auto;
            margin-right:auto;
            border-radius: 50%;
        }

        .nosignal_background {
            height: 105%;
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
        }

        body {
            background-image: url("{% static 'img/nosignal.gif' %}")!important;
            background-size: cover;
            display: block;
            margin-left: auto;
            margin-right: auto;

        }

        .video-container {
            top: 35px;
            position: fixed;
            width: 100%;
            height: auto;
        }

        #qr-video {
            width: 100%;
        }
        #camera-button {
            position: absolute;
            top: 1px;
            right: 1%;
        }
    </style>

{% endblock %}

{% block title %}Scan{% endblock %}

<!--content-->
{% block content %}
    <div class="background-container">
        <img src="{% static 'img/cargando.gif' %}" onclick="swap_cameras()" class="loading_background center" id="loading" alt="Cargando..."/>
        <!--<img class="gif_background" id="error"/>-->
    </div>
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading heading" href="/"><img src="{% static 'img/infoquest.png' %}" style="height: 22px"></a>
        <div id="camera-button" onclick="swap_cameras()">
            <i class="fas fa-camera fa-2x"></i>
        </div>
    </div>


    <div class="video-container">
        <video id="qr-video"></video>
    </div>

    <div id="form-container" class="hidden">
        {% url 'scan' as scan %}

        <form id="form" action="{{ scan }}" method="post">
            {% csrf_token %}
            Contenido del código QR:<br>
              <input id="qr-value" type="text" name="qr_content" placeholder="{{ str_app }}::abcd1234">
              <br>
              <input type="submit" value="Scan">
        </form>
    </div>

    <div id="navBar-container" class="menu-wrapper">
    <nav id="navBar" class="menu">
       <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
       <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
      </label>
       <a href="{% url 'scan' %}" class="menu-item orange"> <i class="fa fa-camera"></i> </a>
       <a href="{% url 'player' %}" class="menu-item green"> <i class="fa fa-id-card"></i> </a>
       <a href="{% url 'map' %}" class="menu-item lightblue"> <i class="fa fa-map-marked"></i> </a>
    </nav>
    </div>
{% endblock %}

<!--js scripts-->
{% block scripts %}
<script src="{% static 'js/instascan.min.js' %}"></script>
 <script type="text/javascript">

      let scanner = new Instascan.Scanner({ video: document.getElementById('qr-video') , mirror:false });
      let camera = 0;
      let n_cameras = 0;
      scanner.addListener('scan', function (content) {
        document.getElementById("qr-value").value = content;
        document.getElementById("form").submit();
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        //document.getElementById("nosigal").style.display = 'none';
        n_cameras = cameras.length;
        if (n_cameras > 0) {

            if (n_cameras === 2) {
                camera = 1;
            } else if (n_cameras === 1) {
                scanner.start(cameras[camera]);
               //    document.getElementById("nosigal").style.display = '';

            } else {
                console.error('No cameras found.');
            }
        } else {
            document.getElementById("loading").style.backgroundImage = "url({% static 'img/nosignal.gif' %})";

        }
      }).catch(function (e) {
//        document.getElementById("loading").style.display = 'none';

                document.getElementById("loading").style.backgroundImage = "url({% static 'img/nosignal.gif' %})";

        console.error(e);
      });

      function swap_cameras() {
        scanner.stop();
        //document.getElementById("nosigal").style.display = 'none';
        //document.getElementById("loading").style.display = '';
        Instascan.Camera.getCameras().then(function (cameras) {
          if (n_cameras > 0) {
            camera = (camera + 1)%n_cameras;
            scanner.start(cameras[camera])
          } else {
            document.getElementById("loading").style.display = 'none';
            //document.getElementById("nosigal").style.display = '';
            console.error('No cameras found.');
          }
        }).catch(function (e) {
          document.getElementById("loading").style.display = 'none';
          console.error(e);
        });
      }
    </script>
{% endblock %}