{% extends "layout.html" %}

{% load static %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/player.css' %}">
    <style>
        .video-container {
            position: fixed;
            width: 100%;
            height: auto;
        }

        #qr-video {
            width: 100%;
        }
    </style>

{% endblock %}

{% block title %}Scan{% endblock %}

<!--context table-->
{% block context_table_content %}
<tr>
    <td>player</td><td>{{ player }}</td>
</tr>
<tr>
    <td>player_id</td><td>{{ player_id }}</td>
</tr>
<tr>
    <td>active</td><td>{{ player.actives }}</td>
</tr>
{% endblock %}

<!--content-->
{% block content %}

    <div class="video-container">
        <video id="qr-video"></video>
    </div>

    <div id="form-container" class="hidden">
        {% url 'scan' as scan %}

        <form id="form" action="{{ scan }}" method="post">
            {% csrf_token %}
            Contenido del código QR:<br>
              <input id="qr-value" type="text" name="qr_content" placeholder="{{ str_app }}::abcd1234">
              <br>
              <input type="submit" value="Scan">
        </form>
    </div>

    <div id="navBar-container" class="menu-wrapper">
    <nav id="navBar" class="menu">
       <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
       <label class="menu-open-button" for="menu-open">
        <span class="lines line-1"></span>
        <span class="lines line-2"></span>
        <span class="lines line-3"></span>
      </label>
       <a href="{% url 'scan' %}" class="menu-item orange"> <i class="fa fa-camera"></i> </a>
       <a href="{% url 'player' %}" class="menu-item green"> <i class="fa fa-id-card"></i> </a>
       <a href="{% url 'map' %}" class="menu-item lightblue"> <i class="fa fa-map-marked"></i> </a>
    </nav>
    </div>
{% endblock %}

<!--js scripts-->
{% block scripts %}
<script src="{% static 'js/instascan.min.js' %}"></script>
 <script type="text/javascript">
      let scanner = new Instascan.Scanner({ video: document.getElementById('qr-video') });
      scanner.addListener('scan', function (content) {
        document.getElementById("qr-value").value = content;
        document.getElementById("form").submit();
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
    </script>
{% endblock %}