{% extends "layout.html" %}

{% load static %}

{% block title %}Comienza tu aventura{% endblock %}
{% block style %}
    <style>
        .content{
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 15vh;
        }
        .login-container {
            background-color: rgb(227, 227, 227);
            border-radius: 20px;
            padding: 20px;
            width: 80%;
            margin: auto;
            padding-top: 8vh;
            text-align: center;

        }
        .rule-container {
            box-shadow: 5px 5px grey;
            margin: 10%;
            text-align: justify;
            color: #000000;
            background-color: rgba(203, 43, 42, 0.43);
            padding-top: 5%;
            padding-right: 15%;
            padding-bottom: 5%;

        }

        .rule-container h3 {

            color: rgba(0, 0, 0, 0.73);
            margin-left:  15%;
        }
        .blue {
            width: 80%;
            color: #ffffff;
            font-size: large;
            background-color: #1f8dd6;
            border-radius: 10px;
        }
        .icon-container {
            position: absolute;
            margin: auto;
            top: 6vh;
            right: 0px;
            width: 100%;
        }
        .icon {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 5%;
            background-color:  rgb(227, 227, 227);
            border-radius: 50%;
        }
    </style>
{% endblock %}


<!--content-->
{% block content %}
    <div class="content">

        <div class="ribbon l-box-lrg login-container center" id="playerFrom">
            <div class="icon-container">
                <i class="icon far fa-user fa-5x"></i>
            </div>
            <h2>Registro</h2>

            <div class="rule-container">
                <h3><i class="fas fa-exclamation-triangle"></i> Reglas</h3>
                <ul style="color: #444444">
                    <li>El largo mínimo es de 5 caracteres</li>
                    <li>El largo máximo es de 15 caracteres</li>
                    <li>No usar nombres ofensivos</li>
                    <li>No hagas trampa</li>
                    <li>Visitar la <b>ruta informática</b></li>
                </ul>
            </div>


            {% url 'start' as start %}
            <form class="form" action="{{ start }}" method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <input class="button-xlarge pure-button blue" style="margin-top: 10px" type="submit" value="Comenzar">
            </form>
        </div>

    </div>

{% endblock %}


<!--js scripts-->
{% block scripts %}
{% endblock %}