{% extends "admin/base.html" %}

{% block title %} Virtual USM - admin{% endblock %}


{% block extrastyle %}
{% load static %}
<link rel="icon" href="{% static 'img/di.png' %}">
<style>
    #header {
        background-color: #f18e00;
    }
    #branding h1 a:visited {
        color: #fbfdff;
    }
</style>
{% endblock %}



{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">VirtualUSM administration</a></h1>
{% endblock %}

{% block nav-global %}
    <br>
    <hr>
    <h5 ><a href="{% url 'admin:index' %}">Models</a> | <a href="{% url 'dashboard' %}">Dashboard</a> | <a href="{% url 'printer' %}">QR generator</a></h5>
{% endblock %}